export LASTFM_USER="inkdroid"
export LASTFM_KEY="891fd89e3a5d4acfd90fc6580028f3fc"
export LASTFM_SECRET="f3cfa79f90f124f2c82fece25f731646"
export TWITTER_CONSUMER_KEY="xDwUGzkyoDQ04qjgBK8w"
export TWITTER_CONSUMER_SECRET="Tc8rALiiEbvCi0fPME2FaHS1mbLdj5fRvzueMjIdIPo"
export TWITTER_ACCESS_TOKEN="14331818-Jy2zf50dsB9VD0gzbr8cmZKGgWDzLs9laf4H7kFVB"
export TWITTER_ACCESS_TOKEN_SECRET="HPNbjngkXYSmqSvesmpmuY7ZoxG2oFidF6Wd7wTI9iwMX"
